<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FloppersBankWS</display-name>
  <welcome-file-list>
    <welcome-file>customer/custlogin.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.flopper.framework.listener.SessionListener</listener-class>
  </listener>
  <filter>
    <display-name>RefererCheckFilter</display-name>
    <filter-name>RefererCheckFilter</filter-name>
    <filter-class>com.flopper.framework.filter.RefererCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RefererCheckFilter</filter-name>
    <url-pattern>/customer/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AgentRefererFilter</display-name>
    <filter-name>AgentRefererFilter</filter-name>
    <filter-class>com.flopper.framework.filter.AgentRefererFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgentRefererFilter</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.flopper.framework.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/customer/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/customer/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/common/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>VoiceCustomerServlet</display-name>
    <servlet-name>VoiceCustomerServlet</servlet-name>
    <servlet-class>com.flopper.framework.servlet.VoiceCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoiceCustomerServlet</servlet-name>
    <url-pattern>/VoiceCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransServlet</display-name>
    <servlet-name>TransServlet</servlet-name>
    <servlet-class>com.flopper.framework.servlet.TransServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransServlet</servlet-name>
    <url-pattern>/TransServlet</url-pattern>
  </servlet-mapping>
</web-app>